<div class="p-3">
  <div class="theme-container">
    <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
      <mat-card [style.max-width.px]="500">
        <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
          <h1 class="uppercase">Sign In</h1>
          <a mat-button routerLink="/register" color="primary" class="w-100">Don't have an account? Sign up now!</a>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit(loginForm.value)">
          <mat-form-field appearance="outline" class="w-100 mt-2">
            <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
            <mat-label>Email/Username</mat-label>
            <input matInput placeholder="Email/Username" formControlName="email" required>
            <mat-error *ngIf="loginForm.controls.email.errors?.required">Your email/username is required</mat-error>
            <mat-error *ngIf="loginForm.controls.email.hasError('no-username')">Your email is required.</mat-error>
            <mat-error *ngIf="loginForm.controls.email.hasError('email-required')">You need to use your email for this
            </mat-error>
            <mat-error *ngIf="loginForm.controls.email.hasError('minlength')">Email/Username has a minimum length of 6
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 mt-1">
            <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" required
              [type]="hide ? 'password' : 'text'">
            <mat-error *ngIf="loginForm.controls.password.errors?.required">Your password is required
            </mat-error>
            <mat-error *ngIf="loginForm.controls.password.hasError('password-required')">Your password is required
            </mat-error>
            <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">Password has a minimum length of 7
            </mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div class="text-center mt-2">
            <button mat-raised-button color="primary" class="uppercase" type="submit">
              Sign In
            </button>
          </div>
        </form>
        <mat-card-actions fxLayout="row-reverse" fxLayoutAlign="space-between center">
          <button mat-button color="accent" (click)="forgotPassword()">
            <mat-icon>vpn_key</mat-icon>
            <span class="mx-1">I forgot my password</span>
          </button>
          <button *ngIf="resendVerification" mat-button color="accent" (click)="resendEmailVerificationLink()">
            <mat-icon>email</mat-icon>
            <span class="mx-1">Resend verification link</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>