<div class="p-3">
  <div class="theme-container">
    <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
      <mat-card [style.max-width.px]="500">
        <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
          <h1 class="uppercase">Password Reset</h1>
        </div>
        <form [formGroup]="passwordResetForm" (ngSubmit)="submitForm()">
          <mat-form-field appearance="outline" class="w-100 mt-2">
            <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="passwordResetForm.controls.email.errors?.required">Your email is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 mt-1">
            <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" required
              [type]="hide ? 'password' : 'text'">
            <mat-error *ngIf="passwordResetForm.controls.password.errors?.required">Your password is required
            </mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 mt-1">
            <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
            <mat-label>Confirm Password}</mat-label>
            <input matInput placeholder="{{ 'PAGES.ACCOUNT.CONFIRM_PASSWORD' }}" formControlName="passwordConfirmation"
              required [type]="hideConfirmation ? 'password' : 'text'">
            <mat-error *ngIf="passwordResetForm.controls.passwordConfirmation.errors?.required">You need to confirm your
              password
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">Your
              passwords do not match</mat-error>
            <button mat-icon-button matSuffix (click)="hideConfirmation = !hideConfirmation" type="button"
              class="text-muted">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <div class="text-center mt-2">
            <button mat-raised-button color="primary" class="uppercase" type="submit" [disabled]="!tokenVerified">
              Reset Password
            </button>
          </div>
        </form>
      </mat-card>
    </div>

  </div>
</div>